@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.edit {
  padding: 2.5rem 3rem;
  background-color: $color-secondary;
  height: 50%;
  width: 65%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 15px;
}

.wrapper {
  margin: 3rem 0;
  padding-right: 8rem;
  + button {
    width: fit-content;
    padding: 1rem 2rem;
    margin: 0 auto;
    display: block;
    &:disabled {
      color: $color-secondary;
    }
  }
}

.buttonRow {
  display: flex;
  align-items: center;
  gap: .5rem;
}