@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.tab {
  background-color: $color-secondary;
  border-radius: 15px 15px 0 0;
  padding: 2.5rem 2rem 1rem;
  width: fit-content;
}

.wrapper {
  background-color: $color-secondary;
  border-radius: 0 0 15px 15px;
  padding: 2.5rem 3rem;
}

.info {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2.5rem;

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.infoBlock {
  margin-bottom: 2.5rem;
}

.infoItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

.right {
  .infoBlock:first-child {
    margin-bottom: 7rem;
  }
}

.bottom {
  position: relative;

  button:last-child {
    bottom: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    width: fit-content;
  }

  p {
    @include breakpoint-max($bp-screen-xl) {
      font-size: 1.45rem;
    }
  }
}

.bottomItem {
  align-items: center;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.buttonRow {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
