@import "../../assets/styles/helpers/variables";
@import "../../assets/styles/helpers/mixins";

.wrapper {
  margin-top: 3.5rem;
  width: 75%;
  height: 80%;
  display: grid;
  background-color: $color-secondary;
  border-radius: 12px;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.15);
  grid-template-columns: .6fr 1fr;
  @include breakpoint-max($bp-screen-xl) {
    width: 85%;
  }
  @include breakpoint-max($bp-screen-md) {
    width: 100%;
  }
  @include breakpoint-max($bp-screen-sm) {
    display: block;
    position: relative;
  }
  @include breakpoint-max-vertical($bp-vertical-875) {
    height: 44rem;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 4rem;
  }
}

.left {
  background-color: $color-additional-light;
  border-radius: 12px;
  padding: 4rem 0 3rem 0;
  @include breakpoint-max($bp-screen-sm) {
    padding: 2rem 0 0 0;
    background-color: $color-secondary;
  }
}

.topLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
}

.right {
  padding: 4rem 3rem;
  position: relative;
  @include breakpoint-max($bp-screen-sm) {
    position: static;
    padding: 2rem 1rem;
  }
}

.imageWrapperUser {
  height: 7.5rem;
  position: relative;
  width: 7.5rem;
  margin-bottom: 2rem;
}

.user {
  border: 1px solid $color-additional-medium-dark;
  border-radius: 50%;
}

.handlers {
  ul {
    @include breakpoint-max($bp-screen-sm) {
      display: flex;
      align-items: center;
    }
  }
  li {
    padding: 1rem 0 1rem 3rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    @include breakpoint-max($bp-screen-sm) {
      width: 100%;
      padding: 1rem 2rem;
      height: 4rem;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    &:hover,
    &.active {
      background-color: $color-highlight;
      color: $color-secondary;
    }
    > p {
      @include breakpoint-max($bp-screen-sm) {
        font-size: 1.45rem;
      }
      @include breakpoint-max($bp-screen-xs) {
        font-size: 1.25rem;
      }
    }
  }
}

.form {
  margin-top: 3rem;
  input {
    margin-bottom: 1.5rem;
    width: calc(100% - 3rem - 3rem);
    border-width: 1px;
    @include breakpoint-max($bp-screen-sm) {
      font-size: 1.45rem;
      padding: 1rem 2rem;
      width: calc(100% - 2rem - 2rem);
    }
    &::placeholder {
      color: $color-primary;
      @include breakpoint-max($bp-screen-sm) {
        font-size: 1.45rem;
      }
    }
    > &:last-child {
      margin-bottom: 0;
    }
    &:focus {
      border-width: 1px;
    }
    &:disabled {
      border: 1px solid $color-additional-medium;
      &::placeholder {
        color: $color-primary-light;
      }
    }
  }
  > button {
    width: fit-content;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint-max($bp-screen-sm) {
      bottom: 2rem;
    }
    @include breakpoint-max-vertical($bp-vertical-875) {
      bottom: -10rem;
    }
  }
}

.security {
  margin-top: 3rem;
  > div {
    margin-bottom: 1.5rem;
  }
  > button {
    width: fit-content;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint-max($bp-screen-sm) {
      bottom: 2rem;
    }
    @include breakpoint-max-vertical($bp-vertical-875) {
      bottom: 0rem;
    }
  }
}

.buttonRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}