@import "assets/styles/helpers/variables";
@import "assets/styles/helpers/mixins";

.loginPage {
  align-items: center;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 50%;

  h1 {
    align-self: flex-start;
    margin-bottom: 5rem;
  }

  form {
    padding: 0 1.5rem;

    input[type="email"],
    input[type="password"] {
      margin-bottom: 1.2rem;
      width: calc(100% - 5rem);
    }

    div + p,
    input[type="email"] + p {
      margin-bottom: 1rem;
      margin-top: -0.8rem;
    }

    button {
      display: block;
      margin: 0 auto 1.5rem;
    }
  }
}

.textRow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.wrapper {
  padding: 0 10rem;
}

.copyright {
  align-items: center;
  bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
}
